.right-side {
  position: fixed;
  right: 30px;
  top: 15px;
  z-index: 100;
  .logoo{
    img{
 
      max-width: 50px;
    }
  }
  .about-icon {
    text-align: right;
    a {
      position: relative;
      img {
        max-width: 50px;

        margin: 30px 0px;
      }
    }

    i {
      position: absolute;
      color: white;
      left: 5px;
      top: 30px;
    }
  }
  .rectangle {
    width: 48px;
    height: 174px;
    border-radius: 7px;
    border: solid 0.5px #909fb8;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;

    
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }
    span{
        display: none;
        font-size: 18px;
        color: #909FB8;
        &:hover{
            color: #58b460;
        }
    }
    &:hover{
        width: 150px;
        align-items: flex-start;
        img {
      
            margin-left: 10px;
          }
        span{
            display: block;
        }
    }
  }
}
